<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hike Logger</title>
    <meta name="description" content="Log your hikes in the wilderness, share them for memories and safety">
    <meta name="author" content="Jukka Isokoski">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
    <div class="main-container">
        <nav>
            <ul>
                <li>
                    Dashboard
                </li>
            </ul>
        </nav>

        {{{body}}}

        <script type="module" src="js/client.js"></script>

    </div>
</body>

</html>