<main>

    <h1>Hike logger</h1>

    <a class="btn btn-green-solid" href="create-journal.html">Create a new Journal</a>

    <div class="journal-list-container">
        <h2>All journals</h2>
        <div id="journal-list"></div>
    </div>

</main>