<main>
    <div class="login-header">
        <h1>Hike Logger</h1>
    </div>

    <div class="login-content">
        <div class="login-description">
            <p>Save and share your hiking logs in the wild!</p>
        </div>

        <div class="login-button">
            <a href="auth/google" class="btn btn-green-solid">
                <i class="fab fa-google"></i>
                <span class="login-button-text">Log in with google</span>
            </a>
        </div>
    </div>

</main>