body {
  background-color: #3e7e38;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  margin: 40px 20px;
}

h1,
h2,
h3,
h4 {
  color: #1e3e1b;
}

h1 {
  font-weight: 500;
  font-size: 2.2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

a {
  color: #1e3e1b;
  text-decoration: none;
}

a:hover {
  color: #3e7e38;
  text-decoration: underline;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
}

.form-row {
  padding: 10px 0px;
}

.log-submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
}

input,
textarea {
  width: 100%;
  margin: 5px 0px;
  border: none;
}

input {
  height: 1.8rem;
}

input:read-only {
  background-color: rgba(255, 255, 255, 0.5);
}

textarea {
  height: 5rem;
}

textarea.log-text {
  height: 10rem;
}

.row-item-container {
  width: 100%;
  margin-right: 15px;
}

.row-item-container:last-of-type {
  margin-right: 0px;
}

.items-on-row {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.align-self-bottom {
  align-self: center;
}

.items-on-col {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

a,
button {
  transition: ease-in-out;
  transition-duration: 120ms;
}

button {
  cursor: pointer;
}

a.btn {
  text-decoration: none;
  padding: 12px 15px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

button.btn {
  height: 40px;
}

a.btn-icon {
  padding: 5px 5px;
  margin: 0px 2px 3px 2px;
  display: inline-block;
}

button.btn-icon {
  height: 25px;
  padding: 5px 5px;
  margin: 0px 2px 3px 2px;
  display: inline-block;
}

.delete-journal-form {
  display: inline-block;
}

.btn-green-solid {
  border: none;
  background-color: #3e7e38;
  color: #f2f2f2;
}

.btn-green-solid:hover {
  background-color: #559e4e;
  color: #ffffff;
}

.btn-green-border {
  border: 2px solid #3e7e38;
  background-color: #f2f2f2;
  color: #3e7e38;
}

.btn-green-border:hover {
  background-color: #3e7e38;
  color: #ffffff;
}

.btn-red-solid {
  border: none;
  background-color: #a13131;
  color: #f2f2f2;
}

.btn-red-solid:hover {
  background-color: #ad4343;
  color: #ffffff;
}

.btn-log-submit {
  background-color: #3e7e38;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border: 5px solid #f2f2f2;
}

.btn-log-submit:hover {
  background-color: #559e4e;
  color: white;
  border-color: white;
}

.btn-log-submit:disabled {
  background-color: #99a098;
}

.btn-log-submit:active {
  background-color: #3f9c38;
  color: white;
  border: 10px solid white;
  font-size: 2.3rem;
}

.main-container {
  max-width: 980px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.content-container {
  padding: 0px 30px 50px 30px;
}

.hidden {
  display: none;
}

.loading {
  width: 100%;
  padding: 75px 0;
}

.spinner {
  width: 40%;
  display: block;
  margin: 0 auto;
  filter: invert(0.8);

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.journal-response {
  border: 1px solid;
  border-radius: 10px;
  padding: 30px 30px 50px 30px;
}

ul {
  list-style: none;
  padding: 0px 0px;
}

li {
  padding: 5px 0px;
}

.list-header {
  color: #1e3e1b;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.list-header::after {
  content: ':';
  margin-right: 10px;
}

.error-message {
  color: #a13131;
  font-style: italic;
}

.journals-grid {
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns:
    minmax(120px, auto)
    minmax(80px, 150px)
    minmax(20%, 30%)
    minmax(80px, 150px);
}

.journal-logs-grid {
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns:
    35px
    minmax(80px, 80px)
    minmax(80px, 150px)
    minmax(120px, auto)
    minmax(80px, 150px);
}

.grid-header {
  background-color: #3e7e38;
  color: #f2f2f2;
  padding: 8px 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.grid-row-wrapper {
  display: contents;
}

.grid-row-wrapper:nth-child(even) > span {
  background-color: #e8e8e8;
}

.grid-row-wrapper:nth-child(odd) > span {
  background-color: #d4e4d3;
}

.journals-grid span,
.journal-logs-grid span {
  padding: 10px 8px;
  font-size: 0.9rem;
}

.journals-grid span.email {
  overflow-wrap: break-word;
}

.journal-meta-grid {
  display: grid;
  grid-template-columns: 130px auto;
  background-color: #d4e4d3;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.journal-meta-grid span {
  padding: 8px 8px;
}

.journal-map {
  height: 400px;
  max-width: 950px;
  margin: 0px auto 30px auto;
}

.marker-date {
  font-style: normal;
  font-weight: 700;
}

.marker-coordinates,
.marker-accuracy {
}

.marker-date,
.marker-coordinates,
.marker-accuracy {
  color: #3e7e38;
  font-size: 0.8rem;
}

.marker-location {
  font-weight: 700;
  margin-top: 8px;
  font-size: 0.9rem;
}

.marker-text {
  margin-top: 3px;
  font-size: 0.9rem;
  font-style: italic;
}

/* NAV */
.navbar-container {
  padding: 20px 0px;
}

.nav-bar {
  background-color: #7c7c7c;
  padding: 0px 30px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item a {
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: #ffffff;
}

/* LOGIN */

body.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/autumn-lake.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  max-width: 400px;
  border-radius: 10px;
  border: 2px solid #3e7e38;
  text-align: center;
  background-color: #ffffff3c;
  padding: 20px 0px 50px 0px;
  margin-bottom: 50px;
}

.login-header {
  background-color: #3e7e38;
  margin-top: 20px;
  padding: 5px;
}

.login-content {
  padding: 20px 30px;
}

.login-header h1 {
  color: #f2f2f2;
}

.login-description {
  padding: 10px 0px;
  font-style: italic;
  font-size: 1.1rem;
}

.login-button {
  padding: 20px;
}

.login-button i {
  font-size: 1.1rem;
}

.login-button-text {
  margin-left: 10px;
}

/* DASHBOARD */
.new-shared-journal {
  background-color: #d4e4d3;
  border-radius: 10px;
  padding: 20px 20px;
  margin-bottom: 30px;
}

/* HELPERS */

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.mr-1 {
  margin-right: 2px;
}

.mr-2 {
  margin-right: 5px;
}

.mr-3 {
  margin-right: 10px;
}

.mr-4 {
  margin-right: 15px;
}
.mr-5 {
  margin-right: 25px;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  .journal-logs-grid {
    grid-template-columns: auto;
  }
  .journal-logs-grid .grid-header {
    display: none;
  }

  .journal-logs-grid span.index:before {
    content: '# ';
  }
}

/* PRINT */
@media print {
  .no-print,
  .nav-bar {
    display: none !important;
  }

  .journal-logs-grid {
    grid-template-columns: auto;
  }
  .journal-logs-grid .grid-header {
    display: none;
  }

  .journal-logs-grid span.index:before {
    content: '# ';
  }

  .journal-logs-grid span.index {
    border-top: 0.1rem solid black;
    margin-top: 0.5rem;
  }
}

/* Leaflet */
.numbered-div-icon {
  position: relative;
}

.numbered-div-icon > .number {
  position: absolute;
  top: 4;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
}
