body {
  background-color: #3e7e38;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  margin: 40px 20px;
}

h1,
h2,
h3,
h4 {
  color: #1e3e1b;
}

h1 {
  font-weight: 500;
  font-size: 2.2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
}

.form-row {
  padding: 10px 0px;
}

.log-submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
}

input,
textarea {
  width: 100%;
  margin: 5px 0px;
  border: none;
}

input {
  height: 1.8rem;
}

input:read-only {
  background-color: rgba(255, 255, 255, 0.5);
}

textarea {
  height: 5rem;
}

textarea.log-text {
  height: 10rem;
}

.row-item-container {
  width: 100%;
  margin-right: 15px;
}

.row-item-container:last-of-type {
  margin-right: 0px;
}

.items-on-row {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.items-on-col {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

a,
button {
  transition: ease-in-out;
  transition-duration: 120ms;
}

button {
  cursor: pointer;
}

a.btn {
  text-decoration: none;
  padding: 12px 15px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

button.btn {
  height: 40px;
}

.btn-green-solid {
  border: none;
  background-color: #3e7e38;
  color: #f2f2f2;
}

.btn-green-solid:hover {
  background-color: #559e4e;
  color: #ffffff;
}

.btn-green-border {
  border: 2px solid #3e7e38;
  background-color: #f2f2f2;
  color: #3e7e38;
}

.btn-green-border:hover {
  background-color: #3e7e38;
  color: #ffffff;
}

.btn-log-submit {
  background-color: #3e7e38;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border: 5px solid #f2f2f2;
}

.btn-log-submit:hover {
  background-color: #559e4e;
  color: white;
  border-color: white;
}

.btn-log-submit:disabled {
  background-color: #99a098;
}

.btn-log-submit:active {
  background-color: #3f9c38;
  color: white;
  border: 10px solid white;
  font-size: 2.3rem;
}

main {
  max-width: 980px;
  margin: 20px auto;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.loading {
  width: 100%;
  padding: 75px 0;
}

.spinner {
  width: 40%;
  display: block;
  margin: 0 auto;
  filter: invert(0.8);

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.journal-response {
  border: 1px solid;
  border-radius: 10px;
  padding: 30px 30px 50px 30px;
}

ul {
  list-style: none;
  padding: 0px 0px;
}

li {
  padding: 5px 0px;
}

.list-header {
  color: #1e3e1b;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.list-header::after {
  content: ':';
  margin-right: 10px;
}

.error-message {
  color: #a13131;
  font-style: italic;
}

.journal-list-container {
  padding: 30px 0px;
}

.journal-item {
  background-color: #d4e4d3;
  max-width: 850px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px auto 15px auto;
  display: flex;
  justify-content: space-between;
}
